<footer class="footer">
  <small>
    <a href="https://github.com/mattrubin/Ledger">Ledger</a>
    by Matt Rubin
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
