<% provide(:title, "Accounts") %>
<div class="row">
  <div class="span8">
      <h3>Accounts (<%= current_user.accounts.count %>)</h3>
      <ol class="accounts">
        <%= render @accounts %>
      </ol>
      <%= will_paginate @accounts %>
  </div>
</div>
